Repository pennlabs/penn-clubs: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8, frontend

black:
  name: black
  entry: black
  language: python
  require_serial: true

isort:
  name: isort
  entry: isort
  language: python
  require_serial: true

flake8:
  name: flake8
  entry: flake8
  language: python
  require_serial: true
  args:
  - --config
  - backend/setup.cfg

frontend:
  name: Yarn Linter
  entry: yarn
  language: system
  args:
  - lint
  require_serial: false
  pass_filenames: false

Added image lazy load
  frontend/components/Applications.tsx
Due: frontend

Revert "Revert "Big rendering bug for apply page""
  frontend/components/Applications.tsx
Due: frontend

Revert "Revert "improved styling for apply page (#502)""
  frontend/components/Applications.tsx
Due: frontend

image sizing and description formatting
  frontend/components/Applications.tsx
Due: frontend

rm some redundant hardcoding
  frontend/components/Applications.tsx
Due: frontend

Apply page patch (#503)
  frontend/components/Applications.tsx
Due: frontend

warmfix: correctly set html with line truncation
  frontend/components/Applications.tsx
Due: frontend

more caching and better invalidation
  backend/clubs/serializers.py
  backend/clubs/views.py
Due: black, isort, flake8

Styling changes after figuring out the evils
  frontend/pages/tickets/checkout.tsx
Due: frontend

cache invalidation for clubs retrieve
  backend/clubs/views.py
Due: black, isort, flake8

rodney changes
  backend/clubs/views.py
Due: black, isort, flake8

disable pre-emptively seeing applications
  backend/clubs/views.py
Due: black, isort, flake8

cache invalidation before destroy
  backend/clubs/views.py
Due: black, isort, flake8

fix types for modelform
  frontend/types.ts
Due: frontend

validation bugs
  backend/clubs/serializers.py
Due: black, isort, flake8

migrated to shared actions
  .github/cdk/.gitignore
  .github/cdk/cdkactions.yaml
  .github/cdk/main.ts
  .github/cdk/package.json
  .github/cdk/tsconfig.json
  .github/cdk/yarn.lock
  .github/workflows/build-and-deploy.yaml
  .github/workflows/cdkactions_validate.yaml
Due: none

added whitespace
  .github/workflows/build-and-deploy.yaml
Due: none

Use Shared Actions (#570)
  .github/cdk/.gitignore
  .github/cdk/cdkactions.yaml
  .github/cdk/main.ts
  .github/cdk/package.json
  .github/cdk/tsconfig.json
  .github/cdk/yarn.lock
  .github/workflows/build-and-deploy.yaml
  .github/workflows/cdkactions_validate.yaml
Due: none

apply button view patch
  frontend/components/ClubPage/Actions.tsx
Due: frontend

prevent unauthenticated submissions (!)
  frontend/pages/club/[club]/application/[application]/index.tsx
Due: frontend

:arrow_up: Scale up 2x
  k8s/main.ts
Due: none

no fixed years
  backend/clubs/management/commands/populate.py
  backend/templates/emails/renew.html
  backend/templates/emails/renewal_reminder.html
  frontend/components/ClubPage/RenewalRequestDialog.tsx
Due: black, isort, flake8, frontend

Revert ":arrow_up: Scale up 2x"
  k8s/main.ts
Due: none

fix excel exports and re-enable edit button
  backend/Pipfile
  backend/Pipfile.lock
  backend/clubs/serializers.py
  backend/clubs/views.py
  frontend/components/ClubEditPage/ApplicationsPage.tsx
  frontend/components/ModelForm.tsx
Due: black, isort, flake8, frontend

make external url read-only
  backend/clubs/serializers.py
Due: black, isort, flake8

created django alternate database
  backend/Dockerfile.staging
  backend/pennclubs/settings/staging.py
Due: black, isort, flake8

descriptive status messages
  backend/clubs/views.py
  frontend/components/ClubEditPage/ApplicationsPage.tsx
Due: black, isort, flake8, frontend

more description
  backend/clubs/views.py
Due: black, isort, flake8

bruh
  backend/clubs/views.py
  frontend/components/ClubEditPage/ApplicationsPage.tsx
Due: black, isort, flake8, frontend

fix ordering
  backend/clubs/views.py
Due: black, isort, flake8

bumped kittyhawk version to 1.1.7
  k8s/package.json
Due: none

update main.ts and yarn lockfile
  k8s/main.ts
  k8s/yarn.lock
Due: none

Bumped kittyhawk version to 1.1.7 (#571)
  k8s/main.ts
  k8s/package.json
  k8s/yarn.lock
Due: none

Revert "Bumped kittyhawk version to 1.1.7 (#571)"
  k8s/main.ts
  k8s/package.json
  k8s/yarn.lock
Due: none

WHARTON COUNCIL BUG
  backend/clubs/views.py
Due: black, isort, flake8

Migrate drf-renderer-xlsx to drf-excel
  backend/Pipfile
  backend/Pipfile.lock
  backend/pennclubs/settings/base.py
Due: black, isort, flake8

Forgot to add drf-excel
  backend/Pipfile
  backend/Pipfile.lock
Due: none

Add numpy
  backend/Pipfile
  backend/Pipfile.lock
Due: none

Migrate drf-renderer-xlsx to drf-excel (#572)
  backend/Pipfile
  backend/Pipfile.lock
  backend/pennclubs/settings/base.py
Due: black, isort, flake8

Forgot to add drf-excel
  backend/Pipfile
Due: none

Path conditions:
  black: any of: ^backend/ and \.py$
  isort: any of: ^backend/ and \.py$
  flake8: any of: ^backend/ and \.py$
  frontend: any of: ^frontend/
