Repository pennlabs/penn-clubs: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8, frontend

.pre-commit-config.yaml:

---
repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: python
        types: [python]
        require_serial: true
        files: ^backend/
      - id: isort
        name: isort
        entry: isort
        language: python
        types: [python]
        require_serial: true
        files: ^backend/
      - id: flake8
        name: flake8
        entry: flake8
        language: python
        types: [python]
        require_serial: true
        files: ^backend/
        args: [--config, backend/setup.cfg]
      - id: frontend
        name: Yarn Linter
        entry: yarn
        language: system
        files: ^frontend/
        args: [lint]
        require_serial: false
        pass_filenames: false

use master pipfile.lock
  backend/Pipfile.lock
Due: none

lint and pre-commit fixes
  .pre-commit-config.yaml
  backend/clubs/models.py
  backend/clubs/serializers.py
  backend/clubs/views.py
Due: black, isort, flake8

minor bugs
  backend/clubs/serializers.py
  backend/clubs/views.py
Due: black, isort, flake8

modal for initial offering
  frontend/components/ClubEditPage/EventsCard.tsx
  frontend/components/ClubEditPage/TicketsModal.tsx
Due: frontend

disable if not all fields are filled
  frontend/components/ClubEditPage/EventsCard.tsx
  frontend/components/ClubEditPage/TicketsModal.tsx
Due: frontend

confirmation dialogue
  frontend/components/ClubEditPage/TicketsModal.tsx
Due: frontend

started admin ticket view page
  frontend/components/ClubEditPage.tsx
  frontend/components/ClubEditPage/TicketsViewCard.tsx
  frontend/components/ClubEditPage/TicketsViewModal.tsx
Due: frontend

Randomly order Wharton Council apps
  backend/clubs/views.py
Due: black, isort, flake8

created page for tickets view
  frontend/components/ClubEditPage/TicketsViewCard.tsx
  frontend/pages/tickets/[[...slug]].tsx
Due: frontend

create tickets and admin view tickets pages
  frontend/components/ClubEditPage.tsx
  frontend/components/ClubEditPage/TicketsViewCard.tsx
  frontend/components/Settings/TicketsTab.tsx
  frontend/components/common/Table.tsx
  frontend/pages/settings.tsx
  frontend/pages/tickets/[[...slug]].tsx
  frontend/public/static/img/empty_cart.svg
Due: frontend

ticket transfer modal
  frontend/components/SearchBar.tsx
  frontend/components/Settings/TicketTransferModal.tsx
  frontend/components/Settings/TicketsTab.tsx
  frontend/public/static/img/icons/send.svg
Due: frontend

fix styling issues
  frontend/components/ClubEditPage/TicketsViewCard.tsx
  frontend/components/SearchBar.tsx
  frontend/components/common/Table.tsx
  frontend/pages/tickets/[[...slug]].tsx
Due: frontend

Randomly order Wharton Council apps (#547)
  backend/clubs/views.py
Due: black, isort, flake8

viewing tickets
  frontend/components/EventPage/EventModal.tsx
  frontend/public/static/img/icons/credit-card.svg
Due: frontend

Ticket model
  backend/clubs/models.py
Due: black, isort, flake8

some basic untested functionality
  backend/clubs/models.py
  backend/clubs/serializers.py
  backend/clubs/views.py
Due: black, isort, flake8

lint
  backend/clubs/admin.py
  backend/clubs/migrations/0091_ticket.py
  backend/clubs/views.py
Due: black, isort, flake8

tested routes, added view ticket count route
  backend/clubs/admin.py
  backend/clubs/migrations/0091_ticket.py
  backend/clubs/models.py
  backend/clubs/serializers.py
  backend/clubs/urls.py
  backend/clubs/views.py
Due: black, isort, flake8

email confirmation, qrcode, retrieve ticket
  backend/clubs/models.py
  backend/clubs/serializers.py
  backend/clubs/views.py
  backend/templates/emails/ticket_confirmation.html
Due: black, isort, flake8

remove commented stuff
  backend/clubs/views.py
Due: black, isort, flake8

created cart model and add to cart, validate cart, and checkout from cart views
  backend/clubs/admin.py
  backend/clubs/migrations/0092_auto_20220211_1732.py
  backend/clubs/models.py
  backend/clubs/views.py
Due: black, isort, flake8

added holding expiration functionality, holding is initiated at checkout and updated when any cart is validated before checkout
  backend/clubs/views.py
Due: black, isort, flake8

lint and tests
  backend/clubs/views.py
Due: black, isort, flake8

added cart creation for a user upon adding to a cart if a cart does not yet exist
  backend/clubs/views.py
Due: black, isort, flake8

slightly changed holding updates, added update to holding status when adding to cart
  backend/clubs/views.py
Due: black, isort, flake8

atomic transactions, cleanup, and some views
  backend/clubs/models.py
  backend/clubs/serializers.py
  backend/clubs/views.py
Due: black, isort, flake8

holding, validation improvements, perms
  backend/clubs/migrations/0091_cart_ticket.py
  backend/clubs/migrations/0091_ticket.py
  backend/clubs/models.py
  backend/clubs/permissions.py
  backend/clubs/serializers.py
  backend/clubs/views.py
Due: black, isort, flake8

lint
  backend/clubs/management/commands/populate.py
  backend/clubs/serializers.py
  backend/clubs/views.py
Due: black, isort, flake8

some docstring stuff
  backend/clubs/permissions.py
  backend/clubs/views.py
Due: black, isort, flake8

add to populate script
  backend/clubs/management/commands/populate.py
  backend/clubs/views.py
Due: black, isort, flake8

rebase + pipfile lock
  backend/Pipfile.lock
  backend/clubs/views.py
Due: black, isort, flake8

rebase, fix some documentation
  backend/clubs/migrations/0091_cart_ticket.py
  backend/clubs/migrations/0092_auto_20220211_1732.py
  backend/clubs/views.py
  backend/tests/clubs/test_documentation.py
Due: black, isort, flake8

email confirmation, qrcode, retrieve ticket
  backend/clubs/models.py
  backend/clubs/views.py
Due: black, isort, flake8

created cart model and add to cart, validate cart, and checkout from cart views
  backend/clubs/migrations/0092_auto_20220211_1732.py
  backend/clubs/models.py
Due: black, isort, flake8

atomic transactions, cleanup, and some views
  backend/clubs/serializers.py
  backend/clubs/views.py
Due: black, isort, flake8

holding, validation improvements, perms
  backend/clubs/migrations/0093_auto_20220706_0548.py
  backend/clubs/permissions.py
Due: black, isort, flake8

rebase master
  backend/clubs/migrations/0091_cart_ticket.py
  backend/clubs/migrations/0092_auto_20220211_1732.py
  backend/clubs/migrations/0093_auto_20220706_0548.py
  backend/clubs/serializers.py
  backend/clubs/urls.py
Due: black, isort, flake8
