Repository pennlabs/penn-clubs: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8, frontend

black:
  name: black
  entry: black
  language: python
  require_serial: true

isort:
  name: isort
  entry: isort
  language: python
  require_serial: true

flake8:
  name: flake8
  entry: flake8
  language: python
  require_serial: true
  args:
  - --config
  - backend/setup.cfg

frontend:
  name: Yarn Linter
  entry: yarn
  language: system
  args:
  - lint
  require_serial: false
  pass_filenames: false

backend lint
  backend/clubs/views.py
Due: black, isort, flake8

Add tinycss2
  backend/Pipfile
  backend/Pipfile.lock
Due: none

Added backports dependency
  backend/Pipfile
  backend/Pipfile.lock
Due: none

Python versioning
  backend/Pipfile
  backend/Pipfile.lock
Due: none

Fix packages versions to avoid install issues before version bump
  backend/Pipfile
  backend/Pipfile.lock
Due: none

Fixed Pipfile syntax and lint
  backend/Pipfile
  backend/Pipfile.lock
  backend/clubs/management/commands/populate.py
  backend/clubs/views.py
  backend/tests/clubs/test_views.py
Due: black, isort, flake8

Fix click
  backend/Pipfile
Due: none

Forgot Pipfile.lock
  backend/Pipfile.lock
Due: none

Fix bleach (please be the last issue)
  backend/Pipfile
  backend/Pipfile.lock
Due: none

Fix indentation in backend/views.py
  backend/clubs/views.py
Due: black, isort, flake8

added cycle model
  backend/clubs/models.py
Due: black, isort, flake8

fixed clash error
  backend/clubs/models.py
Due: black, isort, flake8

:tada: Use Shared Actions
  .github/workflows/build-and-deploy.yaml
Due: none

:fire: Nuke kraken workflows
  .github/cdk/.gitignore
  .github/cdk/cdkactions.yaml
  .github/cdk/main.ts
  .github/cdk/package.json
  .github/cdk/tsconfig.json
  .github/cdk/yarn.lock
  .github/workflows/cdkactions_build-and-deploy.yaml
  .github/workflows/cdkactions_validate.yaml
Due: none

ticket transfer modal
  frontend/components/SearchBar.tsx
  frontend/components/Settings/TicketTransferModal.tsx
  frontend/components/Settings/TicketsTab.tsx
  frontend/public/static/img/icons/send.svg
Due: frontend

started admin ticket view page
  frontend/components/ClubEditPage.tsx
  frontend/components/ClubEditPage/TicketsViewCard.tsx
  frontend/components/ClubEditPage/TicketsViewModal.tsx
Due: frontend

create tickets and admin view tickets pages
  frontend/components/ClubEditPage.tsx
  frontend/components/ClubEditPage/TicketsViewCard.tsx
  frontend/components/Settings/TicketsTab.tsx
  frontend/components/common/Table.tsx
  frontend/pages/settings.tsx
  frontend/pages/tickets/[[...slug]].tsx
  frontend/public/static/img/empty_cart.svg
Due: frontend

disable if not all fields are filled
  frontend/components/ClubEditPage/EventsCard.tsx
  frontend/components/ClubEditPage/TicketsModal.tsx
Due: frontend

created page for tickets view
  frontend/components/ClubEditPage/TicketsViewCard.tsx
  frontend/pages/tickets/[[...slug]].tsx
Due: frontend

modal for initial offering
  frontend/components/ClubEditPage/EventsCard.tsx
  frontend/components/ClubEditPage/TicketsModal.tsx
Due: frontend

confirmation dialogue
  frontend/components/ClubEditPage/TicketsModal.tsx
Due: frontend

fix styling errors
  backend/clubs/migrations/0092_auto_20221002_1121.py
Due: black, isort, flake8

fix styling issues
  frontend/components/ClubEditPage/TicketsViewCard.tsx
  frontend/components/SearchBar.tsx
  frontend/components/common/Table.tsx
  frontend/pages/tickets/[[...slug]].tsx
Due: frontend

modify test case
  backend/tests/clubs/test_channels.py
Due: black, isort, flake8

holding, validation improvements, perms
  backend/clubs/migrations/0093_auto_20220706_0548.py
  backend/clubs/models.py
  backend/clubs/permissions.py
  backend/clubs/views.py
Due: black, isort, flake8

email confirmation, qrcode, retrieve ticket
  backend/clubs/models.py
  backend/clubs/serializers.py
  backend/clubs/views.py
  backend/templates/emails/ticket_confirmation.html
Due: black, isort, flake8

some basic untested functionality
  backend/clubs/models.py
  backend/clubs/serializers.py
  backend/clubs/views.py
Due: black, isort, flake8

Ticket model
  backend/clubs/models.py
Due: black, isort, flake8

tested routes, added view ticket count route
  backend/clubs/admin.py
  backend/clubs/migrations/0091_ticket.py
  backend/clubs/models.py
  backend/clubs/serializers.py
  backend/clubs/urls.py
  backend/clubs/views.py
Due: black, isort, flake8

slightly changed holding updates, added update to holding status when adding to cart
  backend/clubs/views.py
Due: black, isort, flake8

rebase master
  backend/clubs/migrations/0091_cart_ticket.py
  backend/clubs/migrations/0091_ticket.py
  backend/clubs/migrations/0092_auto_20220211_1732.py
  backend/clubs/migrations/0093_auto_20220706_0548.py
  backend/clubs/serializers.py
  backend/clubs/views.py
Due: black, isort, flake8

some docstring stuff
  backend/clubs/permissions.py
  backend/clubs/views.py
Due: black, isort, flake8

added cart creation for a user upon adding to a cart if a cart does not yet exist
  backend/clubs/views.py
Due: black, isort, flake8

lint and tests
  backend/clubs/views.py
Due: black, isort, flake8

remove commented stuff
  backend/clubs/views.py
Due: black, isort, flake8

lint
  backend/clubs/admin.py
  backend/clubs/migrations/0091_ticket.py
  backend/clubs/views.py
Due: black, isort, flake8

created cart model and add to cart, validate cart, and checkout from cart views
  backend/clubs/admin.py
  backend/clubs/migrations/0092_auto_20220211_1732.py
  backend/clubs/models.py
  backend/clubs/views.py
Due: black, isort, flake8

added holding expiration functionality, holding is initiated at checkout and updated when any cart is validated before checkout
  backend/clubs/views.py
Due: black, isort, flake8

atomic transactions, cleanup, and some views
  backend/clubs/models.py
  backend/clubs/serializers.py
  backend/clubs/views.py
Due: black, isort, flake8

rebase + pipfile lock
  backend/Pipfile.lock
  backend/clubs/views.py
Due: black, isort, flake8

Path conditions:
  black: any of: ^backend/ and \.py$
  isort: any of: ^backend/ and \.py$
  flake8: any of: ^backend/ and \.py$
  frontend: any of: ^frontend/
