Repository pennlabs/penn-clubs: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8, frontend

black:
  name: black
  entry: black
  language: python
  require_serial: true

isort:
  name: isort
  entry: isort
  language: python
  require_serial: true

flake8:
  name: flake8
  entry: flake8
  language: python
  require_serial: true
  args:
  - --config
  - backend/setup.cfg

frontend:
  name: Yarn Linter
  entry: yarn
  language: system
  args:
  - lint
  require_serial: false
  pass_filenames: false

Checkout stuff
  frontend/components/TicketsPage/CartTickets.tsx
  frontend/pages/tickets/checkout.tsx
  frontend/types.ts
Due: frontend

fix styling issues
  frontend/components/ClubEditPage/TicketsViewCard.tsx
  frontend/components/SearchBar.tsx
  frontend/components/common/Table.tsx
  frontend/pages/tickets/[[...slug]].tsx
Due: frontend

minor changes on tickets page
  frontend/components/ClubEditPage/TicketsViewCard.tsx
  frontend/components/EventPage/EventModal.tsx
  frontend/pages/tickets/[[...slug]].tsx
Due: frontend

started admin ticket view page
  frontend/components/ClubEditPage.tsx
  frontend/components/ClubEditPage/TicketsViewCard.tsx
  frontend/components/ClubEditPage/TicketsViewModal.tsx
Due: frontend

created page for tickets view
  frontend/components/ClubEditPage/TicketsViewCard.tsx
  frontend/pages/tickets/[[...slug]].tsx
Due: frontend

show tickets on events page
  frontend/components/ClubEditPage/TicketsViewCard.tsx
  frontend/components/EventPage/EventModal.tsx
  frontend/components/Settings/TicketTransferModal.tsx
  frontend/components/Settings/TicketsTab.tsx
  frontend/pages/settings.tsx
  frontend/types.ts
Due: frontend

Basic ticket cart start
  frontend/components/TicketsPage/CartTickets.tsx
  frontend/pages/tickets/checkout.tsx
  frontend/public/static/img/tickets.png
  frontend/types.ts
Due: frontend

disable if not all fields are filled
  frontend/components/ClubEditPage/EventsCard.tsx
  frontend/components/ClubEditPage/TicketsModal.tsx
Due: frontend

modal for initial offering
  frontend/components/ClubEditPage/EventsCard.tsx
  frontend/components/ClubEditPage/TicketsModal.tsx
Due: frontend

added cart button to navbar
  frontend/components/Header/Links.tsx
  frontend/constants/routes.ts
  frontend/public/static/img/icons/shopping-cart.svg
Due: frontend

viewing tickets
  frontend/components/EventPage/EventModal.tsx
  frontend/public/static/img/icons/credit-card.svg
Due: frontend

ticket transfer modal
  frontend/components/SearchBar.tsx
  frontend/components/Settings/TicketTransferModal.tsx
  frontend/components/Settings/TicketsTab.tsx
  frontend/public/static/img/icons/send.svg
Due: frontend

confirmation dialogue
  frontend/components/ClubEditPage/TicketsModal.tsx
Due: frontend

create tickets and admin view tickets pages
  frontend/components/ClubEditPage.tsx
  frontend/components/ClubEditPage/TicketsViewCard.tsx
  frontend/components/Settings/TicketsTab.tsx
  frontend/components/common/Table.tsx
  frontend/pages/settings.tsx
  frontend/pages/tickets/[[...slug]].tsx
  frontend/public/static/img/empty_cart.svg
Due: frontend

Rearrange route stuff
  frontend/pages/tickets/checkout.tsx
Due: frontend

Begin ticketing cart work
  frontend/pages/tickets-checkout.tsx
  frontend/types.ts
Due: frontend

rebase with ticketing
  backend/clubs/migrations/0091_cart_ticket.py
  backend/clubs/models.py
  backend/clubs/serializers.py
Due: black, isort, flake8

fix some rebasing issues
  backend/clubs/migrations/0092_auto_20221118_1424.py
  backend/clubs/urls.py
Due: black, isort, flake8

use real data for my tickets
  frontend/components/Settings/TicketsTab.tsx
  frontend/pages/tickets/[[...slug]].tsx
Due: frontend

Start on checkout page
  frontend/pages/tickets/checkout.tsx
Due: frontend

Update checkout page query strategy and such
  frontend/pages/tickets/checkout.tsx
Due: frontend

Revert "Randomly order Wharton Council apps (#547)"
  .pre-commit-config.yaml
  backend/clubs/views.py
Due: black, isort, flake8

lint and tings
  .pre-commit-config.yaml
  backend/clubs/views.py
Due: black, isort, flake8

pipfile update..
  backend/Pipfile.lock
Due: none

downgrade flake8 pls work
  backend/Pipfile.lock
Due: none

flake8 problems
  .github/workflows/cdkactions_build-and-deploy.yaml
  backend/Pipfile
  backend/Pipfile.lock
Due: none

don't directly change cdkactions
  .github/workflows/cdkactions_build-and-deploy.yaml
Due: none

Frontend cart work
  frontend/pages/tickets/checkout.tsx
  frontend/types.ts
Due: frontend

Tweaks and TODOs
  frontend/pages/tickets/checkout.tsx
Due: frontend

Randomly order active Wharton apps
  backend/clubs/migrations/0091_cryptoextension.py
  backend/clubs/views.py
Due: black, isort, flake8

Making the linter happy
  backend/clubs/migrations/0091_cryptoextension.py
Due: black, isort, flake8

Randomly order active Wharton apps (should be fixed from #547) (#556)
  backend/clubs/migrations/0091_cryptoextension.py
  backend/clubs/views.py
Due: black, isort, flake8

Fix god forsaken ticket amount bug
  frontend/pages/tickets/checkout.tsx
Due: frontend

Add event details and styling and such
  frontend/pages/tickets/checkout.tsx
Due: frontend

Add image to cart panel
  frontend/pages/tickets/checkout.tsx
Due: frontend

initial commit, everything but email sending done
  backend/Pipfile
  backend/Pipfile.lock
  backend/clubs/models.py
  backend/clubs/serializers.py
  backend/clubs/views.py
Due: black, isort, flake8

e2e working using API
  backend/clubs/migrations/0091_auto_20230103_1208.py
  backend/clubs/models.py
  backend/clubs/views.py
Due: black, isort, flake8

lint
  backend/clubs/models.py
  backend/clubs/serializers.py
  backend/clubs/views.py
Due: black, isort, flake8

lockfile and allow committee variable
  backend/Pipfile.lock
  backend/clubs/models.py
Due: black, isort, flake8

rm redundant migration file
  backend/clubs/migrations/0091_cryptoextension.py
Due: black, isort, flake8

Path conditions:
  black: any of: ^backend/ and \.py$
  isort: any of: ^backend/ and \.py$
  flake8: any of: ^backend/ and \.py$
  frontend: any of: ^frontend/
