Repository pennlabs/penn-clubs: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8, frontend

.pre-commit-config.yaml:

---
repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: python
        types: [python]
        require_serial: true
        files: ^backend/
      - id: isort
        name: isort
        entry: isort
        language: python
        types: [python]
        require_serial: true
        files: ^backend/
      - id: flake8
        name: flake8
        entry: flake8
        language: python
        types: [python]
        require_serial: true
        files: ^backend/
        args: [--config, backend/setup.cfg]
      - id: frontend
        name: Yarn Linter
        entry: yarn
        language: system
        files: ^frontend/
        args: [lint]
        require_serial: false
        pass_filenames: false

updated fly configuration
  backend/fly.toml
  backend/setup.cfg
  frontend/fly.toml
  frontend/next.config.js
Due: frontend

add model
  backend/clubs/models.py
Due: black, isort, flake8

fix(ApplicationsCard): add option to explicitly switch between external and internal application
  frontend/components/ClubEditPage/ApplicationsCard.tsx
Due: frontend

fix(error): Redirect to /error on fetch error
  frontend/pages/error.tsx
  frontend/renderPage.tsx
Due: frontend

fix(typo)
  frontend/renderPage.tsx
Due: frontend

add empty template check when no external url is set
  backend/clubs/serializers.py
Due: black, isort, flake8

temp fix for saving external url
  backend/clubs/serializers.py
Due: black, isort, flake8

Remove uiud
  frontend/components/FormComponents.tsx
Due: frontend

Update uuid import from default
  frontend/components/FormComponents.tsx
Due: frontend

Update uuid import from default (#589)
  frontend/components/FormComponents.tsx
Due: frontend

Added view for Wharton cycles (enforces times on applications)
  .gitignore
  .pre-commit-config.yaml
  backend/clubs/serializers.py
  backend/clubs/urls.py
  backend/clubs/views.py
  frontend/components/Settings/WhartonApplicationCycles.tsx
  frontend/pages/wharton/[[...slug]].tsx
Due: black, isort, flake8, frontend

clear cache on test case
  backend/tests/clubs/test_views.py
Due: black, isort, flake8

Allow resend of acceptance/rejection emails
  backend/clubs/views.py
  frontend/components/ClubEditPage/ApplicationsPage.tsx
Due: black, isort, flake8, frontend

Change logic for frontend submission collection
  frontend/components/ClubEditPage/ApplicationsPage.tsx
Due: frontend

Default redirect on Ingress
  k8s/main.ts
Due: none

HTTPS Redirect Rename
  k8s/main.ts
Due: none

Fix t-1 bug with club application synchronization
  backend/clubs/views.py
  frontend/components/ModelForm.tsx
Due: black, isort, flake8, frontend

Fix bug in pre-commit frontend lint
  .pre-commit-config.yaml
Due: none

Add toast warning to resend checkbox
  frontend/components/ClubEditPage/ApplicationsPage.tsx
Due: frontend

wip-feature: Allow resend of acceptance/rejection emails (#592)
  backend/clubs/views.py
  frontend/components/ClubEditPage/ApplicationsPage.tsx
Due: black, isort, flake8, frontend

temp:(banner)
  frontend/components/Announcement.tsx
  frontend/pages/_app.tsx
Due: frontend

temp:(banner) (#598)
  frontend/components/Announcement.tsx
  frontend/pages/_app.tsx
Due: frontend

Linting changes to Management Command
  backend/clubs/management/commands/update_club_counts.py
  backend/clubs/migrations/0091_auto_20231019_1730.py
  backend/clubs/models.py
  backend/clubs/views.py
  k8s/main.ts
Due: black, isort, flake8

Add a volume to Redis
  k8s/main.ts
Due: none

fix some peer deps and upgrade lru-cache
  frontend/package.json
  frontend/utils.tsx
  frontend/yarn.lock
Due: frontend

Add ConfigMap
  k8s/main.ts
  k8s/package.json
  k8s/yarn.lock
Due: none

Roll back Redis until new Kittyhawk Fix
  k8s/main.ts
Due: none

remove announcements
  frontend/components/Announcement.tsx
  frontend/pages/_app.tsx
Due: frontend

no show members/membership requests
  frontend/utils/branding.tsx
Due: frontend

Add Persistent Redis
  k8s/main.ts
  k8s/package.json
  k8s/yarn.lock
Due: none

Add Persistent Redis (#599)
  k8s/main.ts
  k8s/package.json
  k8s/yarn.lock
Due: none

Bump Kittyhawk
  k8s/package.json
  k8s/yarn.lock
Due: none

:arrow_up: Bump Kittyhawk (#600)
  k8s/package.json
  k8s/yarn.lock
Due: none

Remove Docker Compose Changes
  docker-compose.test.yaml
Due: none

Feature: Wharton application cycle member editing
  backend/clubs/urls.py
  backend/clubs/views.py
  frontend/components/Settings/WhartonApplicationCycles.tsx
Due: black, isort, flake8, frontend

Add Back Volumes from Docker Compose
  docker-compose.test.yaml
Due: none
