Repository pennlabs/penn-clubs: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8, frontend

black:
  name: black
  entry: black
  language: python
  require_serial: true

isort:
  name: isort
  entry: isort
  language: python
  require_serial: true

flake8:
  name: flake8
  entry: flake8
  language: python
  require_serial: true
  args:
  - --config
  - backend/setup.cfg

frontend:
  name: Yarn Linter
  entry: yarn
  language: system
  args:
  - lint
  require_serial: false
  pass_filenames: false

add reply-to header
  backend/clubs/views.py
Due: black, isort, flake8

Add numpy
  backend/Pipfile
Due: none

lint
  backend/clubs/views.py
Due: black, isort, flake8

Add reply-to header to club application decisions (#573)
  backend/clubs/views.py
Due: black, isort, flake8

big scale down
  k8s/main.ts
Due: none

aprils fool changes
  frontend/components/ClubCard.tsx
  frontend/components/ClubDetails.tsx
  frontend/components/DisplayButtons.tsx
  frontend/components/Footer/index.tsx
  frontend/components/Header/Links.tsx
  frontend/components/Header/index.tsx
  frontend/components/SearchBar.tsx
  frontend/components/common/TagGroup.tsx
  frontend/components/common/Tags.tsx
  frontend/pages/index.tsx
  frontend/renderPage.tsx
Due: frontend

ads
  frontend/pages/index.tsx
  frontend/utils/branding.tsx
Due: frontend

Aprils fool (#577)
  frontend/components/ClubCard.tsx
  frontend/components/ClubDetails.tsx
  frontend/components/DisplayButtons.tsx
  frontend/components/Footer/index.tsx
  frontend/components/Header/Links.tsx
  frontend/components/Header/index.tsx
  frontend/components/SearchBar.tsx
  frontend/components/common/TagGroup.tsx
  frontend/components/common/Tags.tsx
  frontend/pages/index.tsx
  frontend/renderPage.tsx
  frontend/utils/branding.tsx
Due: frontend

Revert "Aprils fool (#577)"
  frontend/components/ClubCard.tsx
  frontend/components/ClubDetails.tsx
  frontend/components/DisplayButtons.tsx
  frontend/components/Footer/index.tsx
  frontend/components/Header/Links.tsx
  frontend/components/Header/index.tsx
  frontend/components/SearchBar.tsx
  frontend/components/common/TagGroup.tsx
  frontend/components/common/Tags.tsx
  frontend/pages/index.tsx
  frontend/renderPage.tsx
  frontend/utils/branding.tsx
Due: frontend

Adding escape character to zoom link regex
  backend/clubs/views.py
Due: black, isort, flake8

Adding escape character to zoom link regex (#578)
  backend/clubs/views.py
Due: black, isort, flake8

rm codecov
  backend/Pipfile
Due: none

wc export view
  backend/Pipfile.lock
  backend/clubs/views.py
Due: black, isort, flake8

temporarily disable backend check
  .github/workflows/build-and-deploy.yaml
Due: none

change h@p support email
  frontend/utils/branding.tsx
Due: frontend

disable club creation during the summer months
  frontend/components/DisplayButtons.tsx
Due: frontend

:arrow_down: Scale down
  k8s/main.ts
Due: none

temporarily disable integration tests
  .github/workflows/build-and-deploy.yaml
Due: none

indent
  .github/workflows/build-and-deploy.yaml
Due: none

correct dependencies
  .github/workflows/build-and-deploy.yaml
Due: none

fix report bug -- the smallest of things
  backend/clubs/mixins.py
  backend/clubs/views.py
Due: black, isort, flake8

support approved on as well as frontend cleanup
  backend/clubs/serializers.py
  frontend/components/Applications.tsx
  frontend/components/ClubCard.tsx
  frontend/components/ClubEditPage/ApplicationsCard.tsx
  frontend/components/ClubEditPage/ApplicationsPage.tsx
  frontend/components/ClubEditPage/ClubEditCard.tsx
  frontend/components/FormComponents.tsx
  frontend/components/ModelForm.tsx
  frontend/components/Submissions.tsx
  frontend/components/common/AuthPrompt.stories.tsx
  frontend/components/reports/ReportForm.tsx
  frontend/next.config.js
  frontend/package.json
  frontend/pages/events.tsx
  frontend/pages/fair.tsx
  frontend/pages/index.tsx
  frontend/pages/zoom.tsx
  frontend/renderPage.tsx
  frontend/server.js
  frontend/yarn.lock
Due: black, isort, flake8, frontend

Revert "support approved on as well as frontend cleanup"
  backend/clubs/serializers.py
  frontend/components/Applications.tsx
  frontend/components/ClubCard.tsx
  frontend/components/ClubEditPage/ApplicationsCard.tsx
  frontend/components/ClubEditPage/ApplicationsPage.tsx
  frontend/components/ClubEditPage/ClubEditCard.tsx
  frontend/components/FormComponents.tsx
  frontend/components/ModelForm.tsx
  frontend/components/Submissions.tsx
  frontend/components/common/AuthPrompt.stories.tsx
  frontend/components/reports/ReportForm.tsx
  frontend/next.config.js
  frontend/package.json
  frontend/pages/events.tsx
  frontend/pages/fair.tsx
  frontend/pages/index.tsx
  frontend/pages/zoom.tsx
  frontend/renderPage.tsx
  frontend/server.js
  frontend/yarn.lock
Due: black, isort, flake8, frontend

maybe best not to play with fire
  backend/clubs/serializers.py
Due: black, isort, flake8

update readme to reflect that we only support Node 14
  README.md
Due: none

update some text as per Rodney's wishes
  frontend/pages/club/[club]/renew.tsx
  frontend/pages/fair.tsx
Due: frontend

invalidate cache on logo update
  backend/clubs/views.py
Due: black, isort, flake8

Goodbye integration tests and codecov for good
  .github/workflows/build-and-deploy.yaml
Due: none

Coverage
  backend/Pipfile
  backend/Pipfile.lock
Due: none

Remove flaky Zoom test
  backend/tests/clubs/test_views.py
Due: black, isort, flake8

scale up backend a bit
  k8s/main.ts
Due: none

make random time less random for cache performance
  frontend/components/SearchBar.tsx
Due: frontend

bring back wsgi
  k8s/main.ts
Due: none

fix external url issue + scale up a bit
  backend/clubs/serializers.py
  k8s/main.ts
Due: black, isort, flake8

fix(club.membership_count): deprecate club membership count, use club.members.length instead
  frontend/components/ClubPage/InfoBox.tsx
  frontend/types.ts
Due: frontend

fix(club.membership_count): deprecate club membership count, use club.members.length instead (#579)
  frontend/components/ClubPage/InfoBox.tsx
  frontend/types.ts
Due: frontend

:arrow_up: Bump Kittyhawk
  k8s/package.json
  k8s/yarn.lock
Due: none

scale up clubs
  k8s/main.ts
Due: none

Created fly configuration
  backend/.dockerignore
  backend/fly.toml
  backend/redis/fly.toml
  backend/setup.cfg
  frontend/fly.toml
Due: frontend

Path conditions:
  black: any of: ^backend/ and \.py$
  isort: any of: ^backend/ and \.py$
  flake8: any of: ^backend/ and \.py$
  frontend: any of: ^frontend/
