Repository pennlabs/penn-clubs: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8, frontend

black:
  name: black
  entry: black
  language: python
  require_serial: true

isort:
  name: isort
  entry: isort
  language: python
  require_serial: true

flake8:
  name: flake8
  entry: flake8
  language: python
  require_serial: true
  args:
  - --config
  - backend/setup.cfg

frontend:
  name: Yarn Linter
  entry: yarn
  language: system
  args:
  - lint
  require_serial: false
  pass_filenames: false

pipfile being annoying
  backend/Pipfile
Due: none

gotta love psycopg2
  README.md
  backend/Pipfile.lock
Due: none

update black and resolve pipenv issues
  .pre-commit-config.yaml
  backend/Pipfile
  backend/Pipfile.lock
  backend/clubs/management/commands/merge_duplicates.py
  backend/clubs/management/commands/populate.py
  backend/clubs/management/commands/send_emails.py
  backend/clubs/management/commands/wharton_council_application.py
  backend/clubs/migrations/0016_auto_20200128_2024.py
  backend/clubs/migrations/0017_joinrequest.py
  backend/clubs/migrations/0018_auto_20200207_1737.py
  backend/clubs/migrations/0021_auto_20200307_1913.py
  backend/clubs/migrations/0027_club_fair.py
  backend/clubs/migrations/0028_auto_20200814_1909.py
  backend/clubs/migrations/0031_auto_20200818_1945.py
  backend/clubs/migrations/0032_auto_20200821_1340.py
  backend/clubs/migrations/0049_auto_20201023_1716.py
  backend/clubs/migrations/0056_auto_20201118_1849.py
  backend/clubs/migrations/0059_auto_20201207_0933.py
  backend/clubs/migrations/0073_event_pinned.py
  backend/clubs/migrations/0078_auto_20210523_2015.py
  backend/clubs/models.py
  backend/clubs/serializers.py
  backend/tests/clubs/test_commands.py
  backend/tests/clubs/test_views.py
Due: black, isort, flake8

backports?
  backend/Pipfile
  backend/Pipfile.lock
Due: none

ics version lock
  backend/Pipfile
Due: none

gotta lock
  backend/Pipfile.lock
Due: none

gotta love backwards incompatibility
  backend/Pipfile
  backend/Pipfile.lock
Due: none

django version constraint
  backend/Pipfile
  backend/Pipfile.lock
Due: none

Django version
  backend/Pipfile
  backend/Pipfile.lock
Due: none

pray
  backend/Pipfile
  backend/Pipfile.lock
Due: none

revert and hope for the best
  backend/Pipfile
  backend/Pipfile.lock
Due: none

please
  backend/Pipfile.lock
Due: none

test ci flag [skip int]
  .github/cdk/main.ts
  backend/clubs/management/commands/merge_duplicates.py
  backend/clubs/management/commands/populate.py
  backend/clubs/management/commands/send_emails.py
  backend/clubs/management/commands/wharton_council_application.py
  backend/clubs/migrations/0016_auto_20200128_2024.py
  backend/clubs/migrations/0017_joinrequest.py
  backend/clubs/migrations/0018_auto_20200207_1737.py
  backend/clubs/migrations/0021_auto_20200307_1913.py
  backend/clubs/migrations/0027_club_fair.py
  backend/clubs/migrations/0028_auto_20200814_1909.py
  backend/clubs/migrations/0031_auto_20200818_1945.py
  backend/clubs/migrations/0032_auto_20200821_1340.py
  backend/clubs/migrations/0049_auto_20201023_1716.py
  backend/clubs/migrations/0056_auto_20201118_1849.py
  backend/clubs/migrations/0059_auto_20201207_0933.py
  backend/clubs/migrations/0073_event_pinned.py
  backend/clubs/migrations/0078_auto_20210523_2015.py
  backend/clubs/models.py
  backend/clubs/serializers.py
  backend/clubs/views.py
  backend/tests/clubs/test_commands.py
  backend/tests/clubs/test_views.py
Due: black, isort, flake8

thank god for typescript
  .github/cdk/main.ts
Due: none

rm zoom info
  frontend/pages/fair.tsx
Due: frontend

rm virtual officer setup info
  frontend/markdown/fair.md
Due: frontend

rm some more virtual info
  frontend/markdown/fair.md
Due: frontend

some more clarity in sacfairguide
  frontend/markdown/fair.md
Due: frontend

suggested changes
  backend/clubs/models.py
  backend/clubs/serializers.py
  backend/clubs/views.py
  frontend/components/ClubEditPage/ApplicationsCard.tsx
  frontend/pages/club/[club]/application/[application]/index.tsx
Due: black, isort, flake8, frontend

docs and perms
  backend/clubs/permissions.py
  backend/clubs/views.py
  frontend/components/ClubEditPage/ApplicationsCard.tsx
Due: black, isort, flake8, frontend

initial commit
  backend/Pipfile
  backend/Pipfile.lock
  backend/clubs/models.py
  backend/clubs/serializers.py
  backend/clubs/views.py
  backend/pennclubs/settings/base.py
  frontend/components/ClubEditPage/ApplicationsCard.tsx
  frontend/components/ModelForm.tsx
  frontend/pages/club/[club]/application/[application]/index.tsx
Due: black, isort, flake8, frontend

Wharton Council Fixes (#532)
  backend/Pipfile
  backend/Pipfile.lock
  backend/clubs/models.py
  backend/clubs/permissions.py
  backend/clubs/serializers.py
  backend/clubs/views.py
  backend/pennclubs/settings/base.py
  frontend/components/ClubEditPage/ApplicationsCard.tsx
  frontend/components/ModelForm.tsx
  frontend/pages/club/[club]/application/[application]/index.tsx
Due: black, isort, flake8, frontend

bisect bug fix
  backend/clubs/views.py
Due: black, isort, flake8

import postgres crypto
  backend/clubs/migrations/0091_pgcrypto.py
  backend/clubs/views.py
Due: black, isort, flake8

import postgres crypto (#537)
  backend/clubs/migrations/0091_pgcrypto.py
  backend/clubs/views.py
Due: black, isort, flake8

Revert "import postgres crypto (#537)"
  backend/clubs/migrations/0091_pgcrypto.py
  backend/clubs/views.py
Due: black, isort, flake8

application script update
  backend/clubs/management/commands/wharton_council_application.py
Due: black, isort, flake8

warmfix: don't clone ext url
  backend/clubs/views.py
Due: black, isort, flake8

:arrow_up: Scale up for Wharton Club Fair
  k8s/main.ts
Due: none

update contact emails
  frontend/pages/faq.tsx
  frontend/utils/branding.tsx
Due: frontend

:arrow_up: Scale up for club fair
  k8s/main.ts
Due: none

:arrow_up: Scale up again
  k8s/main.ts
Due: none

add custom live dialog to reflect outage
  frontend/components/ClubPage/LiveEventsDialog.tsx
  frontend/pages/index.tsx
Due: frontend

Bug fix for deleting submissions also version bump
  backend/Pipfile
  backend/Pipfile.lock
  backend/clubs/views.py
  backend/pennclubs/settings/base.py
  backend/pennclubs/settings/development.py
  frontend/yarn.lock
Due: black, isort, flake8, frontend

:arrow_down: Scale down after Wharton Club Fair
  frontend/pages/index.tsx
  k8s/main.ts
Due: frontend

remove outage dialog
  frontend/pages/index.tsx
Due: frontend

More version bump updates
  backend/Pipfile.lock
  backend/clubs/management/commands/populate.py
  backend/clubs/management/commands/rank.py
  backend/clubs/routing.py
  backend/clubs/utils.py
  backend/clubs/views.py
  backend/pennclubs/settings/development.py
  backend/tests/clubs/test_views.py
Due: black, isort, flake8

Forgot to lock Pipfile
  backend/Pipfile.lock
Due: none

Regenerate Pipfile.lock
  backend/Pipfile.lock
Due: none

Needed to bump pipenv version
  backend/Pipfile
Due: none

Path conditions:
  black: any of: ^backend/ and \.py$
  isort: any of: ^backend/ and \.py$
  flake8: any of: ^backend/ and \.py$
  frontend: any of: ^frontend/
