Repository pennlabs/penn-clubs: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8, frontend

.pre-commit-config.yaml:

---
repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: python
        types: [python]
        require_serial: true
        files: ^backend/
      - id: isort
        name: isort
        entry: isort
        language: python
        types: [python]
        require_serial: true
        files: ^backend/
      - id: flake8
        name: flake8
        entry: flake8
        language: python
        types: [python]
        require_serial: true
        files: ^backend/
        args: [--config, backend/setup.cfg]
      - id: frontend
        name: Yarn Linter
        entry: yarn
        language: system
        files: ^frontend/
        args: [lint]
        require_serial: false
        pass_filenames: false

migration fixes
  backend/clubs/migrations/0088_adminnote.py
  backend/clubs/migrations/0088_alter_applicationsubmission_status.py
  backend/clubs/migrations/0089_alter_applicationsubmission_status.py
  backend/clubs/migrations/0089_auto_20230103_1239.py
  backend/clubs/migrations/0091_auto_20230103_1208.py
Due: black, isort, flake8

Personalized Acceptances/Rejections Backend (#551)
  backend/Pipfile
  backend/Pipfile.lock
  backend/clubs/migrations/0088_adminnote.py
  backend/clubs/migrations/0088_alter_applicationsubmission_status.py
  backend/clubs/migrations/0089_alter_applicationsubmission_status.py
  backend/clubs/migrations/0089_auto_20230103_1239.py
  backend/clubs/migrations/0091_cryptoextension.py
  backend/clubs/models.py
  backend/clubs/serializers.py
  backend/clubs/views.py
Due: black, isort, flake8

Update dependabot.yml
  .github/dependabot.yml
Due: none

Disable dependabot version updates
  .github/dependabot.yml
Due: none

Added CFA link to header
  frontend/components/Header/Links.tsx
Due: frontend

open in new tab
  frontend/components/Header/Links.tsx
Due: frontend

Added CFA funding link to header (#545)
  frontend/components/Header/Links.tsx
Due: frontend

placeholder update modal
  frontend/components/ClubEditPage/ApplicationsPage.tsx
Due: frontend

placeholder custom variable text field
  frontend/components/ClubEditPage/ApplicationsPage.tsx
  frontend/components/CustomOption.tsx
  frontend/components/FormComponents.tsx
Due: frontend

placeholder custom variable text field
  frontend/components/ClubEditPage/ApplicationsPage.tsx
Due: frontend

select / deselect any category
  frontend/components/ClubEditPage/ApplicationsPage.tsx
Due: frontend

add height as optional prop (override) for modal
  frontend/components/CustomOption.tsx
  frontend/components/common/Modal.tsx
Due: frontend

fix github build issue
  frontend/components/ClubEditPage/ApplicationsPage.tsx
  frontend/components/common/Modal.tsx
Due: frontend

format text fields with example button added to application creation page
  frontend/components/ClubEditPage/ApplicationsCard.tsx
  frontend/components/ClubEditPage/ApplicationsPage.tsx
  frontend/components/CustomOption.tsx
Due: frontend

Bug fix for undefined submission objects
  frontend/components/ClubEditPage/ApplicationsPage.tsx
Due: frontend

add a way to input decision reasons
  frontend/components/ClubEditPage/ApplicationsPage.tsx
Due: frontend

Do not reset sorted status on change
  frontend/components/common/Table.tsx
Due: frontend

integrate frontend with backend
  backend/clubs/serializers.py
  backend/clubs/views.py
  frontend/components/ClubEditPage/ApplicationsPage.tsx
Due: black, isort, flake8, frontend

typescript stuff
  backend/clubs/views.py
  frontend/components/ClubEditPage/ApplicationsPage.tsx
  frontend/types.ts
Due: black, isort, flake8, frontend

more fkn typescript stuff
  frontend/components/ClubEditPage/ApplicationsPage.tsx
  frontend/components/CustomOption.tsx
Due: frontend

Personalised Application Outcome Frontend (#552)
  backend/clubs/serializers.py
  backend/clubs/views.py
  frontend/components/ClubEditPage/ApplicationsCard.tsx
  frontend/components/ClubEditPage/ApplicationsPage.tsx
  frontend/components/CustomOption.tsx
  frontend/components/FormComponents.tsx
  frontend/components/common/Table.tsx
  frontend/types.ts
Due: black, isort, flake8, frontend

Add progress dots and clean some stuff up
  frontend/pages/tickets/checkout.tsx
Due: frontend

fix precommit and support rich text emails
  .pre-commit-config.yaml
  backend/clubs/views.py
Due: black, isort, flake8

close applications properly
  backend/clubs/views.py
  frontend/pages/club/[club]/application/[application]/index.tsx
Due: black, isort, flake8, frontend

table filters, lots of prefetching/n+1, usability
  backend/clubs/serializers.py
  backend/clubs/views.py
  frontend/components/ClubEditPage/ApplicationsPage.tsx
  frontend/types.ts
Due: black, isort, flake8, frontend

application cycles, wc app script tweaks
  backend/clubs/management/commands/wharton_council_application.py
  backend/clubs/migrations/0090_auto_20230106_1443.py
  backend/clubs/models.py
  backend/clubs/serializers.py
  backend/clubs/views.py
  frontend/components/ClubEditPage/ApplicationsPage.tsx
Due: black, isort, flake8, frontend

caching improvements and small bugfix
  backend/clubs/views.py
Due: black, isort, flake8

more caching
  backend/clubs/views.py
Due: black, isort, flake8

Application Improvements (#565)
  backend/clubs/management/commands/wharton_council_application.py
  backend/clubs/migrations/0090_auto_20230106_1443.py
  backend/clubs/models.py
  backend/clubs/serializers.py
  backend/clubs/views.py
  frontend/components/ClubEditPage/ApplicationsPage.tsx
  frontend/pages/club/[club]/application/[application]/index.tsx
  frontend/types.ts
Due: black, isort, flake8, frontend

many more changes
  backend/clubs/admin.py
  backend/clubs/models.py
  backend/clubs/serializers.py
  backend/clubs/views.py
  frontend/components/ClubEditPage/ApplicationsCard.tsx
  frontend/components/ClubEditPage/ApplicationsPage.tsx
  frontend/pages/club/[club]/apply.tsx
  frontend/types.ts
  frontend/utils.tsx
Due: black, isort, flake8, frontend

minor nits
  backend/clubs/views.py
  frontend/components/ClubEditPage/ApplicationsPage.tsx
Due: black, isort, flake8, frontend

Manually cache application questions
  backend/clubs/views.py
Due: black, isort, flake8

General Improvements / Fixes (#567)
  backend/clubs/admin.py
  backend/clubs/models.py
  backend/clubs/serializers.py
  backend/clubs/views.py
  frontend/components/ClubEditPage/ApplicationsCard.tsx
  frontend/components/ClubEditPage/ApplicationsPage.tsx
  frontend/pages/club/[club]/apply.tsx
  frontend/types.ts
  frontend/utils.tsx
Due: black, isort, flake8, frontend

application editing warmfixes
  backend/clubs/serializers.py
  frontend/components/ClubEditPage/ApplicationsCard.tsx
Due: black, isort, flake8, frontend

applicants table is scrollable
  frontend/components/ClubEditPage/ApplicationsPage.tsx
Due: frontend

rebase and font size
  frontend/components/ClubEditPage/ApplicationsPage.tsx
Due: frontend

nits
  frontend/components/ClubEditPage/ApplicationsPage.tsx
Due: frontend

applicants page style improvment (#506)
  frontend/components/ClubEditPage/ApplicationsPage.tsx
Due: frontend

Removing shuffle
  frontend/components/Applications.tsx
Due: frontend
